<launch>
    <node pkg="al_rtk_ros_driver" type="al_rtk_ros_driver" name="al_rtk_ros_driver">
            <param name="map_frame" value="map"/>
            <param name="serial_device" value="/dev/box_3"/>
            <param name="badurate" value="115200"/>
            <param name="domain" value="rtk.ntrip.qxwz.com"/>
            <param name="account" value=""/>
            <param name="password" value=""/>
            <param name="publish_pos_fix_only" value="true"/>
            <param name="auto_use_first_fix_as_enu_origin" value="true" />
            <param name="origin_config_file" value="$(find autolabor_test_launch)/params/rtk_tracking_enu_origin.json"/>
    </node>
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find autolabor_test_launch)/rviz/rtk_test.rviz" required ="true" />
</launch>
